{% extends "base.html" %}

{% block title %}
    Product List
{% endblock %}

{% block content %}
    <h1 class="text-4xl font-bold mb-4">Product Inventory</h1>

    <div class="flex justify-between">
        <div class="text-3xl font-bold mb-4 text-green-800">
            Total Stock: {{ total_stock }}
        </div>
        <a href="/products/stock_chart"
           class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mb-4 inline-block">
            📈 Open Stocks Chart
        </a>
    </div>

    {% include 'product_create.html' %}

    <h2 class="text-3xl font-bold mb-4">Existing Inventory</h2>

    <div class="grid grid-cols-1 gap-4">
        {% for product in products %}
            {% if product.id == edit_product_id %}
                {% include 'product_edit.html' %}
            {% else %}
                {% include 'product_view.html' %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}